# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
.env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp
*.swp
*.swo

# Ignore sensitive files
*.env
*.key
*.pem

# Ignore data files
*.csv
*.tsv
*.dat
*.db
*.sqlite

# Ignore build files
build/
dist/
*.egg-info/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore coverage reports
.coverage
htmlcov/

# Ignore other standard files
node_modules/
*.lock

# Ignore everything in data
data/**

# Allow folder structure down to data subfolders
!data/
!data/bronze/
!data/bronze/**/
!data/silver/
!data/silver/**/
!data/gold/
!data/gold/**/

# Allow parquet files
!data/**/*.parquet

# Allow delta logs (except _commits)
!data/**/_delta_log/
!data/**/_delta_log/*.json
!data/**/_delta_log/*.checkpoint.parquet

# Still ignore _commits
data/**/_delta_log/_commits/

# Ignore private files
config.py
utils/**

# Ignore directories and files
!utils/custom_sklearn_transformers.py
!utils/helper_functions.py
checkpoints/
artifacts/
00.%20project_setup/
notebooks/
!model/evaluation
model/data
!model/evaluation/predictions.csv
mlruns/
.github/
.tmp_*/
*.ipynb
*chroma_langchain_db/